[Unit]
Description=pi-sensor-agent-log-forwarder
After=systemd-journald.service network.target
Requires=systemd-journald.service
StartLimitInterval=0

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=/usr/local/src/pi-sensor-agent/.op-env
ExecStart=op run --env-file=".forwarder-env-file.tmpl" -- /usr/local/src/pi-sensor-agent/agent-log-forwarder
WorkingDirectory=/usr/local/src/pi-sensor-agent
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=120
User=pi
