[Unit]
Description=Door-Light-Alert
After=network.target
StartLimitInterval=300
StartLimitBurst=10

[Service]
ExecStart=/home/pi/door-light
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30
User=pi

Environment=CLOUDMQTT_URL=<url>
Environment=DEVICE_NAME=<device-name>
Environment=DOOR=<door>


[Install]
WantedBy=multi-user.target
