[Unit]
Description=pi-sensor-agent
After=systemd-journald.service network.target
Requires=systemd-journald.service
StartLimitInterval=0

[Install]
WantedBy=multi-user.target

[Service]
Environment="SENSOR_SOURCE={{ item.sensor_source }}"
Environment="GPIO_PIN={{ item.gpio_pin }}"
EnvironmentFile=/usr/local/src/pi-sensor-agent/.op-env
ExecStart=op run --env-file=".env-file.tmpl" -- /usr/local/src/pi-sensor-agent/pi-sensor-agent
WorkingDirectory=/usr/local/src/pi-sensor-agent
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30
User=pi
