export AWS_ACCESS_KEY_ID=op://pi-sensor-server/config/SPACES_AWS_ACCESS_KEY_ID
export AWS_SECRET_ACCESS_KEY=op://pi-sensor-server/config/SPACES_AWS_SECRET_ACCESS_KEY
export MOSQUITTO_USER=op://pi-sensor-server/config/MOSQUITTO_USER
export MOSQUITTO_PASS=op://pi-sensor-server/config/MOSQUITTO_PASS
