export AWS_ACCESS_KEY_ID=op://pi-sensor-server/config/SPACES_AWS_ACCESS_KEY_ID
export AWS_SECRET_ACCESS_KEY=op://pi-sensor-server/config/SPACES_AWS_SECRET_ACCESS_KEY

export MOSQUITTO_SERVER_USER=op://pi-sensor-server/config/MOSQUITTO_SERVER_USER
export MOSQUITTO_SERVER_PASSWORD=op://pi-sensor-server/config/MOSQUITTO_SERVER_PASSWORD

export MOSQUITTO_AGENT_USER=op://pi-sensor-agent/config/MOSQUITTO_AGENT_USER
export MOSQUITTO_AGENT_PASSWORD=op://pi-sensor-agent/config/MOSQUITTO_AGENT_PASSWORD
