[Unit]
Description=Pi-Sensor
After=network.target

[Service]
ExecStart=/home/pi/pi-sensor
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Environment=KAFKA_BROKERS={{.KAFKA_BROKERS}}
Environment=KAFKA_PASSWORD={{.KAFKA_PASSWORD}}
Environment=KAFKA_USERNAME={{.KAFKA_USERNAME}}
Environment=KAFKA_TOPIC={{.KAFKA_TOPIC}}
Environment=KAFKA_CONSUMER_GROUP={{.KAFKA_CONSUMER_GROUP}}
Environment=SENSOR_SOURCE={{.SENSOR_SOURCE}}

[Install]
WantedBy=multi-user.target
