[Unit]
Description=Pi-Sensor
After=network.target
StartLimitInterval=300
StartLimitBurst=10

[Service]
ExecStart=/home/pi/run.sh
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30
User=pi
Environment=HEROKU_API_KEY={{.HEROKU_API_KEY}}
Environment=SENSOR_SOURCE={{.SENSOR_SOURCE}}

[Install]
WantedBy=multi-user.target
