[Unit]
Description=Pi-Sensor
After=network.target

[Service]
ExecStart=/home/pi/pi-sensor
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Environment=CLOUDKARAFKA_BROKERS={{.CLOUDKARAFKA_BROKERS}}
Environment=CLOUDKARAFKA_PASSWORD={{.CLOUDKARAFKA_PASSWORD}}
Environment=CLOUDKARAFKA_USERNAME={{.CLOUDKARAFKA_USERNAME}}
Environment=CLOUDKARAFKA_TOPIC={{.CLOUDKARAFKA_TOPIC}}
Environment=CLOUDKARAFKA_CONSUMER_GROUP={{.CLOUDKARAFKA_CONSUMER_GROUP}}
Environment=SENSOR_SOURCE={{.SENSOR_SOURCE}}

[Install]
WantedBy=multi-user.target
