[Unit]
Description=Log Forwarder
After=systemd-journald.service
Requires=systemd-journald.service

[Service]
ExecStart=/home/pi/log-forwarder
TimeoutStartSec=0
Restart=on-failure
RestartSec=5s
Environment=CLOUDMQTT_URL=<< .CLOUDMQTT_URL >>

[Install]
WantedBy=multi-user.target
